.title {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  @media (max-width: 992px) {
    font-size: 42px;
    line-height: 52px;
  }
  @media (max-width: 767px) {
    font-size: 36px;
    line-height: 45px;
  }
  @media (max-width: 500px) {
    font-size: 24px;
    line-height: 32px;
  }
}
